.contents {
  width: 75%;
  padding-right: 12px;
  overflow-y: scroll;
  height: 90vh;
}

.contentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 15px 0;
}

.title {
  display: inline-block;
  flex-basis: 80%;
  margin: 0;
  margin-right: 10px;
}

.channel {
  display: inline-block;
  min-width: 100px;
  flex-basis: 10%;
  height: 40px;
  padding: 0;
  font-size: 15px;
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
  border-radius: 7px;
  cursor: pointer;
  margin: 4px 10px 0 10px;
  text-align: center;
  line-height: 40px;
}

.channel:hover {
  background-color: var(--color-blue);
  color: var(--color-black);
  border: 1px solid var(--color-blue);
}

.save {
  display: inline-block;
  min-width: 100px;
  flex-basis: 10%;
  height: 40px;
  padding: 0;
  font-size: 15px;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 7px;
  cursor: pointer;
  margin: 4px 10px 0 10px;
}

.save:hover {
  background-color: var(--color-orange);
  color: var(--color-light-white);
  border: 1px solid var(--color-orange);
}

.summary {
  display: inline-block;
  min-width: 100px;
  flex-basis: 10%;
  height: 40px;
  padding: 0;
  font-size: 15px;
  border: 1px solid var(--color-light-white);
  color: var(--color-light-white);
  border-radius: 7px;
  cursor: pointer;
  margin: 4px 10px 0 10px;
}

.summary:hover {
  background-color: var(--color-light-white);
  color: var(--color-light-black);
  border: 1px solid var(--color-light-white);
}

#dropbox_icon {
  display: none;
}

/*  카드 CSS  */
.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--color-backgroundTransparency);
  padding: 20px 20px 0 20px;
  width: 100%;
  margin: 0 auto 30px auto;
  border-radius: 15px;
  position: relative;
  word-break: break-all;
  min-height: 258px;
  height: 100%;
}

.card:nth-last-child(2)::before {
  content: '';
  display: block;
  width: 20%;
  margin: 20px auto 0 auto;
  height: 3px;
  background-color: var(--color-blue);
  position: absolute;
  bottom: -17px;
}

.card_bookmark {
  position: absolute;
  left: 5px;
  top: 12px;
  width: 40px;
  height: 18px;
  display: block;
  background-color: white;
  transform: rotate(270deg);
}

.card_bookmark.firebrick {
  background-color: firebrick;
}
.card_bookmark.tomato {
  background-color: tomato;
}
.card_bookmark.gold {
  background-color: gold;
}
.card_bookmark.yellowgreen {
  background-color: yellowgreen;
}
.card_bookmark.steelblue {
  background-color: steelblue;
}
.card_bookmark.skyblue {
  background-color: skyblue;
}
.card_bookmark.darkorchid {
  background-color: darkorchid;
}

.card_bookmark::after {
  position: absolute;
  content: '';
  right: 32px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 8px solid #232326;
}

.card_iconBox {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 20px;
}

.card_edit,
.card_delete,
.card_add,
.card_check {
  color: #ddd;
  margin: 5px 0 0 30px;
  cursor: pointer;
  transition: all 200ms ease;
}

.card_edit:hover,
.card_delete:hover,
.card_add:hover {
  transform: scale(1.2);
}

.card_check {
  cursor: initial;
  user-select: none;
  color: var(--color-blue);
}

.card_logo {
  max-width: 3.5em;
  max-height: 3.5em;
  margin: 0;
}

.card_title {
  font-size: 1.7rem;
  margin: 0 20px 0 20px;
  word-break: break-all;
}

.card_subTitle {
  flex-basis: 100%;
  margin: 15px 0 0 0;
  min-height: 63px;
  padding-bottom: 15px;
  text-align: center;
}

.card_subTitle::after {
  content: '';
  display: block;
  width: 30%;
  margin: 20px auto 0 auto;
  height: 3px;
  background-color: var(--color-dark-grey);
}

.card_description {
  margin: 0;
  padding: 0 1em 1em 1em;
  text-align: left;
  width: 100%;
  min-height: 250px;
}

.card_description a {
  color: var(--color-blue);
}

.card_description p {
  font-size: var(--font-micro);
  margin: 0 0 20px 0;
}

.card_description > ul {
  list-style: inherit;
  display: block;
  padding-left: 24px;
  margin: 6px 0 10px;
  color: #f5f5f6;
}

.card_description > li {
  list-style: inherit;
}

.card_description ul > li::before {
  content: '';
  margin-top: 10px;
  margin-left: -17px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f5f5f6;
  display: inline-block;
  position: absolute;
}

.card_description > ol {
  list-style-type: none;
  display: block;
  counter-reset: li;
  padding-left: 24px;
  margin: 6px 0 10px;
}

.card_description > ul > li,
.card_description > ol > li {
  position: relative;
}

.card_description ol > li {
  counter-increment: li;
}

.card_description *:not(table) {
  line-height: 160%;
  box-sizing: content-box;
}

.card_description ol > li::before {
  content: '.' counter(li);
  margin-left: -28px;
  width: 24px;
  text-align: right;
  direction: rtl;
  color: #f5f5f6;
  display: inline-block;
  position: absolute;
}

.card_description pre {
  padding: 18px;
  background-color: var(--color-dark-grey);
  font-family: Consolas;
  margin: 2px 0 8px;
}

.card_description code {
  font-family: Consolas;
  background-color: var(--color-dark-grey);
  padding: 2px 3px;
  border-radius: 2px;
  letter-spacing: -0.3px;
  font-size: 14px;
}

.card_description h1 {
  font-size: 24px;
  line-height: 45px;
  border-bottom: 3px double #999;
  margin: 14px 0 15px;
}

.card_description h2 {
  font-size: 22px;
  line-height: 42px;
  border-bottom: 1px solid #dbdbdb;
  margin: 20px 0 13px 0;
}

.card_description h3 {
  font-size: 20px;
  margin: 18px 0 2px;
}

.card_description h4 {
  font-size: 18px;
  margin: 10px 0 2px;
}

.card_description h5 {
  font-size: 16px;
  margin: 9px 0 -4px;
}

.card_description h6 {
  font-size: 14px;
  margin: 9px 0 -4px;
}

.card_description table {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 12px 0 14px;
  color: #f5f5f6;
  width: auto;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 13px;
}

.card_description table th {
  background-color: #4d4d4d;
  font-weight: 300;
  color: #f5f5f6;
  padding-top: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 14px 5px 12px;
  height: 32px;
}

.card_description table td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 14px 5px 12px;
  height: 32px;
}

.card_description table img {
  max-width: 150px;
}

@media screen and (max-width: 768px) {
  .contents {
    width: 100%;
    overflow-y: initial;
    height: initial;
    margin: 10px 0 20px 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    flex-basis: 90%;
  }
  .summary {
    display: none;
  }
  .save {
    display: none;
  }
  .channel {
    display: none;
  }

  #dropbox_icon {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: var(--color-light-white);
    font-size: 16px;
    display: inline-block;
  }

  .dropbox_container {
    position: relative;
    cursor: pointer;
    border: 1px solid var(--color-grey);
  }

  .dropbox_list {
    width: 120px;
    top: 25px;
    text-align: center;
    bottom: 0;
    right: 11px;
    position: absolute;
    z-index: 3;
    height: 150px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    background-color: var(--color-light-black);
    border: 1px solid var(--color-grey);
  }

  .dropbox_list li {
    color: #f5f5f6;
    user-select: none;
    height: 30px;
    line-height: 30px;
  }

  .dropbox_list li:nth-last-child(1)::after {
    display: none;
  }

  .dropbox_list li::after {
    height: 2px;
    content: '';
    width: 80%;
    margin: 8px auto 0 auto;
    display: block;
    background-color: var(--color-dark-grey);
  }

  .card {
    min-height: 200px;
  }
}

@media screen and (max-width: 360px) {
  .iframe {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .iframe {
    height: 350px;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .iframe {
    height: 450px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .iframe {
    height: 500px;
  }
}
