.navbar {
  height: 56px;
  padding: 0 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-background);
  position: fixed;
  width: 100%;
}

.backBox {
  width: 20%;
  color: var(--color-light-white);
}

.studyList {
  display: flex;
  justify-content: space-between;
  width: 25%;
  font-size: 13px;
  max-width: 465px;
  min-width: 300px;
}

.etc {
  position: relative;
  cursor: pointer;
  width: 20px;
  text-align: center;
  color: var(--color-light-white);
}

.dropbox {
  width: 80px;
  top: 20px;
  text-align: center;
  bottom: 0;
  right: 0;
  position: absolute;
}

.list {
  height: 30px;
  line-height: 30px;
  background-color: var(--color-light-black);
  user-select: none;
}
