.container {
  background-color: var(--color-backgroundTransparency);
  height: 100vh;
}
.header {
  height: 56px;
  padding: 0 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-background);
  width: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 94%;
}
.error {
  position: absolute;
  top: 15%;
  left: 50%;
  right: 0;
  text-align: center;
  transform: translateX(-50%);
  font-size: var(--font-large);
  user-select: none;
}
.code {
  position: absolute;
  top: 45%;
  left: 50%;
  right: 0;
  text-align: center;
  transform: translateX(-50%);
  font-size: var(--font-medium);
  user-select: none;
}

.alert {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  user-select: none;
}

.description {
  white-space: pre-wrap;
  width: 100%;
  text-align: center;
  font-size: var(--font-regular);
  position: absolute;
  top: 55%;
  left: 50%;
  right: 0;
  text-align: center;
  transform: translateX(-50%);
}

.backBox {
  width: 20%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: var(--font-micro);
  user-select: none;
  background: var(--color-background);
}
