.portfolio {
  overflow-y: scroll;
  height: 100vh;
  user-select: none;
}

.aside {
  font-family: 'Didact Gothic';
  position: sticky;
  top: 0;
  bottom: 0;
  float: right;
  width: 15%;
  height: 100vh;
  z-index: 3;
  display: flex;
  letter-spacing: 0.1rem;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.canvas {
  z-index: -99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  width: 70%;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 15px;
    width: 90%;
  }

  .aside {
    padding-top: 0;
    width: 100px;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100px;
  }

  .aside.active {
    top: 0;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
  }
}
