.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-contentBackground);
  padding: 80px 0px 24px 24px;
}

@media screen and (max-width: 336px) {
  .main {
    flex-wrap: wrap;
    padding: 24px 0px 24px 12px;
  }
}

@media screen and (min-width: 337px) and (max-width: 768px) {
  .main {
    flex-wrap: wrap;
    padding: 24px 12px 24px 12px;
  }
}
