.title {
  width: 20em;
  height: 120px;
  line-height: 130px;
  border-bottom: 5px solid var(--color-dark-white);
  margin: auto;
}

.skills > h2 {
  margin-top: 40px;
}

.skills > p {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Nanum Gothic Coding", monospace;
  color: var(--color-dark-white);
  font-weight: 100;
  line-height: 25px;
}

.skillset {
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  padding: 30px;
  display: flex;
}

.sub_title {
  margin: 15px 0 30px 0;
  font-weight: 700;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.left {
  flex-basis: 70%;
}

.skill {
  padding: 10px;
}

.right {
  flex-basis: 30%;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-grey);
}

.value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}

.tools__list li {
  padding: 20px;
}