.inputBox {
  width: 45%;
  text-align: center;
  align-items: center;
  display: flex;
  margin: 0 5%;
  user-select: none;
}

.searchInput {
  width: 100%;
  flex-basis: 748px;
  outline: none;
  border: none;
  padding: 2px 10px;
  background-color: var(--color-subBackground);
  color: white;
  height: 30px;
}

.searchButton {
  width: 65px;
  flex-basis: 100px;
  border: 1px solid var(--color-dark-grey);
  border-radius: 0 2px 2px 0;
  background-color: var(--color-light-black);
  padding: 5px 10px;
}

.logo {
  width: 35px;
  margin-right: 5px;
}

@media screen and (max-width: 300px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    margin: 0 2%;
  }
}

@media screen and (max-width: 768px) {
  .inputBox {
    width: 80%;
  }
}
