.directory {
  width: 30%;
  min-width: 300px;
  padding-bottom: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  position: relative;
}

.loadingBox {
  width: 100%;
  height: 100vh;
  background-color: var(--color-backgroundTransparency);
  margin: -100vh 0 0 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

.loading {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

@media screen and (max-width: 336px) {
  .directory {
    min-width: initial;
  }
}

@media screen and (max-width: 768px) {
  .directory {
    width: 100%;
    overflow-y: initial;
    height: initial;
  }

  .loadingBox {
    position: fixed;
    top: 100%;
    left: 0;
    overflow: hidden;
  }

  .loading {
    transform: translate(-50%, -50%);
  }
}
