.youtubeList {
  display: flex;
  cursor: pointer;
  margin-bottom: 8px;
  position: relative;
  margin-right: 24px;
}

.thumbnail {
  width: 165px;
  min-width: 165px;
  height: 94px;
}

.title {
  font-size: 14px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  height: 60px;
  margin: 0 0 0 5px;
  display: -webkit-box;
}

.content {
  font-size: 12px;
  margin: 20px 5px 0 5px;
  color: var(--color-light-grey);
}

#dropbox_icon {
  position: relative;
  cursor: pointer;
  padding: 5px 0 10px 0;
  width: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--color-light-white);
  height: 30px;
}

.dropbox_container {
  position: absolute;
  cursor: pointer;
  bottom: -10px;
  right: -20px;
}

.dropbox_list {
  width: 80px;
  top: 0px;
  text-align: center;
  bottom: 0;
  right: 25px;
  position: absolute;
}

.dropbox_list li {
  color: #f5f5f6;
  height: 30px;
  line-height: 30px;
  background-color: var(--color-light-black);
  user-select: none;
  font-size: 13px;
}

.dropbox_list li:hover {
  border: 1px solid var(--color-blue);
}

.contentBox {
  height: 94px;
}

.card_bookmark {
  position: absolute;
  right: -30px;
  top: 15px;
  width: 40px;
  height: 14px;
  display: block;
  transform: rotate(270deg);
}

.card_bookmark.firebrick {
  background-color: firebrick;
}
.card_bookmark.tomato {
  background-color: tomato;
}
.card_bookmark.gold {
  background-color: gold;
}
.card_bookmark.yellowgreen {
  background-color: yellowgreen;
}
.card_bookmark.steelblue {
  background-color: steelblue;
}
.card_bookmark.skyblue {
  background-color: skyblue;
}
.card_bookmark.darkorchid {
  background-color: darkorchid;
}
.card_bookmark.ivory {
  background-color: ivory;
}

.card_bookmark::after {
  position: absolute;
  content: '';
  right: 32px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 8px solid #232326;
}

@media screen and (max-width: 1280px) {
  .thumbnail {
    width: 150px;
    min-width: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .thumbnail {
    width: 125px;
    min-width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .dropbox_container {
    right: -13px;
  }

  .title {
    margin: 0 0 0 5px;
    width: 100%;
    min-width: initial;
  }

  .thumnailBox {
    margin-right: 5px;
  }

  .contentBox {
    width: 100%;
  }

  .thumbnail {
    width: 100%;
    max-width: 200px;
    min-width: 150px;
    height: 100%;
  }
}

@media screen and (max-width: 336px) {
  .youtubeList {
    flex-direction: column;
    align-items: center;
  }

  .content {
    font-size: 12px;
    margin: 0px 5px 0 5px;
    color: var(--color-light-grey);
    text-align: right;
  }

  .thumbnail {
    width: 100%;
    max-width: initial;
    min-width: initial;
    height: 100%;
  }

  .title {
    -webkit-line-clamp: 2;
    height: 39px;
    margin: 0 auto;
    font-size: 13px;
  }
}
