.navbar {
  height: 56px;
  padding: 0 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-background);
  width: 100%;
}

.backBox {
  width: 73px;
  color: var(--color-light-white);
}

.logoBox {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  margin: 0 5px;
  user-select: none;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  user-select: none;
  margin: 0;
}

.main {
  display: flex;
  height: 100%;
  background-color: var(--color-contentBackground);
}
