.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--color-backgroundTransparency);
  padding: 20px 20px 0 20px;
  width: 100%;
  margin: 0 auto 30px auto;
  border-radius: 15px;
  position: relative;
  word-break: break-all;
}

.card:nth-child(1)::after {
  content: '';
  display: block;
  width: 20%;
  margin: 20px auto 0 auto;
  height: 3px;
  background-color: var(--color-blue);
  position: absolute;
  bottom: -25px;
}

.card:nth-child(2) {
  margin-top: 40px;
}

.bookmark {
  position: absolute;
  left: 5px;
  top: 12px;
  width: 40px;
  height: 18px;
  display: block;
  background-color: red;
  transform: rotate(270deg);
}

.bookmark::after {
  position: absolute;
  content: '';
  right: 32px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 8px solid #232326;
}

.iconBox {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 20px;
}

.edit,
.delete {
  color: #ddd;
  margin: 5px 0 0 30px;
  cursor: pointer;
  transition: all 200ms ease;
}

.edit:hover,
.delete:hover {
  transform: scale(1.2);
}

.logo {
  max-width: 60px;
  max-height: 60px;
  margin: 0 20px 0 20px;
}

.title {
  font-size: 2rem;
  margin: 0;
  word-break: break-all;
}

.subTitle {
  flex-basis: 100%;
  margin: 15px 0 0 0;
  min-height: 47px;
  padding-bottom: 15px;
}

.subTitle::after {
  content: '';
  display: block;
  width: 30%;
  margin: 20px auto 0 auto;
  height: 3px;
  background-color: var(--color-dark-grey);
}

.description {
  margin: 0;
  padding: 0 1em 1em 1em;
  text-align: left;
  width: 100%;
  min-height: 100px;
}

.description a {
  color: var(--color-blue);
}

.description p {
  font-size: var(--font-micro);
  margin: 0 0 20px 0;
}

.description > ul {
  list-style: inherit;
  display: block;
  padding-left: 24px;
  margin: 6px 0 10px;
  color: #f5f5f6;
}

.description > li {
  list-style: inherit;
}

.description ul > li::before {
  content: '';
  margin-top: 10px;
  margin-left: -17px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f5f5f6;
  display: inline-block;
  position: absolute;
}

.description > ol {
  list-style-type: none;
  display: block;
  counter-reset: li;
  padding-left: 24px;
  margin: 6px 0 10px;
}

.description > ul > li,
.description > ol > li {
  position: relative;
}

.description ol > li {
  counter-increment: li;
}

.description *:not(table) {
  line-height: 160%;
  box-sizing: content-box;
}

.description ol > li::before {
  content: '.' counter(li);
  margin-left: -28px;
  width: 24px;
  text-align: right;
  direction: rtl;
  color: #f5f5f6;
  display: inline-block;
  position: absolute;
}

.description pre {
  padding: 18px;
  background-color: var(--color-dark-grey);
  font-family: Consolas;
  margin: 2px 0 8px;
}

.description code {
  font-family: Consolas;
  background-color: var(--color-dark-grey);
  padding: 2px 3px;
  border-radius: 2px;
  letter-spacing: -0.3px;
  font-size: 14px;
}

.description h1 {
  font-size: 24px;
  line-height: 45px;
  border-bottom: 3px double #999;
  margin: 14px 0 15px;
}

.description h2 {
  font-size: 22px;
  line-height: 42px;
  border-bottom: 1px solid #dbdbdb;
  margin: 20px 0 13px 0;
}

.description h3 {
  font-size: 20px;
  margin: 18px 0 2px;
}

.description h4 {
  font-size: 18px;
  margin: 10px 0 2px;
}

.description h5 {
  font-size: 16px;
  margin: 9px 0 -4px;
}

.description h6 {
  font-size: 14px;
  margin: 9px 0 -4px;
}

.description table {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 12px 0 14px;
  color: #f5f5f6;
  width: auto;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 13px;
}

.description table th {
  background-color: #4d4d4d;
  font-weight: 300;
  color: #f5f5f6;
  padding-top: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 14px 5px 12px;
  height: 32px;
}

.description table td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 14px 5px 12px;
  height: 32px;
}

.description table img {
  max-width: 150px;
}
