.aside {
  font-family: 'Didact Gothic';
  position: fixed;
  top: 0;
  right: 0%;
  width: 15%;
  height: 100vh;
  z-index: 3;
  display: flex;
  font-weight: 700;
  letter-spacing: 0.1rem;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  align-items: center;
  margin-top: 45px;
  padding-bottom: 100px;
}

.menu_item {
  cursor: pointer;
  font-size: var(--font-regular);
}

.menu_item:hover {
  color: var(--color-blue);
}

.menu_item.view {
  color: var(--color-orange);
}

.smpchat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.smpchat_icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.smpchat_icon:hover {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease;
}

.menu__btn {
  font-size: var(--font-regular);
  color: var(--color-light-white);
  display: none;
  margin: 0 auto;
  width: 30px;
  justify-content: center;
  flex-direction: column;
  flex-basis: 10%;
}
