.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-blue);
  border-left: 1px solid var(--color-blue);
  margin-bottom: 1em;
}

.title,
.subtitle,
.select,
.description,
.code,
.fileInput,
.deleteButton,
.textAreaTitle {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid var(--color-blue);
  border-right: 1px solid var(--color-blue);
}

.title,
.subtitle {
  flex: 1 1 80%;
}

.select {
  flex-basis: 20%;
}

.title:focus,
.subtitle:focus,
.select:focus,
.textAreaTitle:focus {
  outline: 0;
}

.fileInput {
  flex-basis: 20%;
}

.deleteButton {
  flex: 1 1 50%;
}

.description,
.code {
  flex-basis: 100%;
}
