.maker {
  flex-basis: 50%;
  text-align: center;
  border-right: 1px solid var(--color-orange);
  padding: 0.5em 2em;
  overflow-y: scroll;
  height: 95vh;
}

.title {
  margin: 30px 0;
  font-size: 2rem;
  user-select: none;
  font-family: 'Josefin Sans', sans-serif;
}

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid #27272a;
  border-left: 1px solid #27272a;
  margin-bottom: 1em;
  margin-top: 1em;
}

.cardTitle,
.cardSubtitle,
.select,
.description,
.code,
.textAreaTitle {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  min-height: 35px;
  border-bottom: 1px solid #27272a;
  border-right: 1px solid #27272a;
}

.cardTitle,
.cardSubtitle {
  flex: 1 1 80%;
}

.select {
  flex-basis: 20%;
}

.cardTitle:focus,
.cardSubtitle:focus,
.select:focus,
.textAreaTitle:focus {
  outline: 0;
}

.fileInput {
  flex-basis: 20%;
  padding: 0;
  font-size: 0.8rem;
  border: 0;
  min-height: 35px;
  border-bottom: 1px solid #27272a;
  border-right: 1px solid #27272a;
}

.description,
.code {
  flex-basis: 100%;
}

.imageInputButton {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-orange);
  transition: ease all 200ms;
  font-weight: 700;
}

.imageInputButton:hover {
  background-color: #de5528;
}

.imageInputButton.edit {
  background-color: var(--color-blue);
}

.imageInputButton.edit:hover {
  background-color: #6a9bbd;
}

.submitButton {
  flex: 1 1 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  border: 0;
  min-height: 35px;
  border-bottom: 1px solid #27272a;
  border-right: 1px solid #27272a;
  background-color: var(--color-orange);
  font-weight: 700;
  font-family: 'Open Sans';
  transition: ease all 200ms;
}

.submitButton:hover {
  background-color: #de5528;
}

.submitButton.edit {
  background-color: var(--color-blue);
}

.submitButton.edit:hover {
  background-color: #6a9bbd;
}

.editor {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #27272a;
  border-right: 1px solid #27272a;
}
