.aside {
  font-family: 'Didact Gothic';
  position: sticky;
  top: 0;
  bottom: 0;
  float: right;
  width: 15%;
  height: 100vh;
  z-index: 3;
  display: flex;
  letter-spacing: 0.1rem;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.smpchat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.smpchat_icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.smpchat_icon:hover {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease;
}

.menu__btn {
  font-size: var(--font-regular);
  color: var(--color-light-white);
  display: none;
  margin: 0 auto;
  width: 30px;
  justify-content: center;
  flex-direction: column;
  flex-basis: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin-top: 45px;
  padding-bottom: 45px;
  width: 100%;
}

.login {
  color: var(--color-blue);
  cursor: pointer;
  font-size: var(--font-regular);
  font-weight: 700;
  font-family: 'Didact Gothic';
}

.studyPage, .loginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.itemButton {
  font-family: 'Didact Gothic';
  cursor: pointer;
  font-size: var(--font-regular);
  font-weight: 700;
  border: 1px solid var(--color-blue);
  padding: 7px 15px;
}

.itemButton:hover {
  background-color: var(--color-blue);
  color: var(--color-black);
}

@media screen and (max-width: 1024px) {
  .smpchat img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    padding-top: 0;
    width: 100px;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100px;
  }

  .aside.active {
    top: 0;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
  }

  .menu {
    display: none;
    animation-duration: var(--animation-duration);
    animation-name: menuSlide;
  }

  .studyPage {
    display: none;
    animation-duration: var(--animation-duration);
    animation-name: menuSlide;
  }

  @keyframes menuSlide {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0px);
    }
  }

  .menu.active {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-basis: 73%;
    padding: 10px 0;
    height: 0;
    margin: 45px 0 0 0;
  }

  .studyPage.active {
    display: flex;
  }

  .itemButton {
    font-size: var(--font-size-small);
  }

  .login {
    font-size: var(--font-size-small);
  }

  .menu li {
    font-size: var(--font-small);
  }

  .menu__btn {
    display: flex;
    width: 50px;
    align-items: center;
    flex-basis: 50px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
  }

  .smpchat {
    position: absolute;
    bottom: 63px;
    left: 0;
    right: 0;
  }

  .aside.active > .smpchat {
    position: static;
    margin-bottom: 25px;
  }

  .smpchat img {
    width: 35px;
    height: 35px;
  }
}
