.item {
  cursor: pointer;
  font-size: var(--font-regular);
  font-weight: 700;
  color: var(--color-light-white);
}

.item:hover {
  color: var(--color-blue);
}

.itemView {
  color: var(--color-orange);
  cursor: pointer;
  font-size: var(--font-regular);
  font-weight: 700;
}


