.home {
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  text-transform: uppercase;
}

.home img {
  height: 300px;
  margin: 25px;
  border-radius: 20px;
}

.title {
  font-weight: 100;
  letter-spacing: 0.5rem;
}

.dscription {
  letter-spacing: 0.125em;
  font-size: var(--font-micro);
  line-height: 30px;
}


